// Link not available
.u-na {
    cursor: not-allowed !important; 
    filter: saturate(0) !important;
    opacity: 0.3 !important;
}

// Link no underline
.u-nodec {
    text-decoration: none !important;
}

// Font size larger
.u-larger {
    font-size: larger !important;
}