<!DOCTYPE html>
<html lang="en" itemscope itemtype="https://schema.org/PresentationDigitalDocument">
<head>
  <title>Template</title>
  <meta name="description" content="This is the description">
  <meta charset="utf-8">

  <!-- Schema.org markup for Google+ -->
  <meta itemprop="name" content="Template">
  <meta itemprop="description" content="This is the description">
  <meta itemprop="image" content="https://res.cloudinary.com/growdigital/image/upload/w_800/v1632943588/wood-chip-path-210929.jpg">

  <!-- Twitter Card data -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@NatureWorksGdn">
  <meta name="twitter:title" content="Template">
  <meta name="twitter:description" content="This is the description">
  <meta name="twitter:creator" content="@NatureWorksGdn">
  <!-- Twitter summary card with large image must be at least 280x150px -->
  <meta name="twitter:image:src" content="https://res.cloudinary.com/growdigital/image/upload/w_800/v1632943588/wood-chip-path-210929.jpg">

  <!-- Open Graph data -->
  <meta property="og:title" content="Template">
  <meta property="og:type" content="article">
  <meta property="og:url" content="https://www.natureworks.org.uk/talks/almanac/">
  <meta property="og:image" content="https://res.cloudinary.com/growdigital/image/upload/w_800/v1632943588/wood-chip-path-210929.jpg">
  <meta property="og:image:width" content="800">
  <meta property="og:image:height" content="450">
  <meta property="og:description" content="This is the description">
  <meta property="og:site_name" content="Nature Works">
  <meta property="article:published_time" content="2019-11-04T19:00:00">
  <meta property="article:section" content="Slideshow">
  <meta property="article:tag" content="slideshow">

  <link rel="stylesheet" href="/assets/css/talks.css">
  <link rel="shortcut icon" href="/assets/img/favicon.ico">
</head>

<body>
<textarea id="source">

class: center, middle

# Template

_This is the description_

![White spray of flowers coming into blossom](https://res.cloudinary.com/growdigital/image/upload/w_380/v1688039510/meadowsweet-230627.jpg)

by Jake Rayson

#### [natureworks.org.uk](https://www.natureworks.org.uk)<br>[natureworks.org.uk/talks/template](https://www.natureworks.org.uk/talks/template/)

###### **Press `P` to see notes & credits**

???

* Work licensed under [Creative Commons Attribution-NonCommercial-ShareAlike](http://creativecommons.org/licenses/by-nc-sa/4.0/), embedded work may have other licenses.
* Slideshow always available online
* Press `p` for notes
* Contact
  * [Jake Rayson](https://natureworks.org.uk/about) 
  * Email <hello@natureworks.org.uk> 
  * Mastodon [@natureworks@mas.to](https://mas.to/@natureworks)

---

class: middle, center

# The End

![Elephant Garlic flower head](https://res.cloudinary.com/growdigital/image/upload/w_340/v1631113586/elephant-garlic-flower-crop.jpg)

<hello@natureworks.org.uk>

[natureworks.org.uk/newsletter](https://www.natureworks.org.uk/newsletter)


</textarea>
<script src="/assets/js/remark.js"></script>
<script>
  var slideshow = remark.create({ratio: '16:9'});
</script>
</body>

</html>
